
/*BackgroundColors for different webpages*/
#homeBody{
	background-color:#A8D0E6;
}
#mediaBody{
	background-color:#24305E;
}
#aboutBody{
	background-color: #F76C6C;
}
#teamBody{
	background-color: #F8E9A1;
}

/* light blue colors: #A8D0E6 #CEEDFD #759FB5; 
red colors: #F76C6C #F89999 #C45353;
dark blue: #24305E, #445288 #15245D;
yellow: #F8E9A1 #FAF3D2 #FCE781;
other text on right hand corner is 55px regular
dimensions: 1920 1080;
browser: 1680 949;
*/
/*the top header general class */
.header{
	height:10.5vh;
	width: 100vw;
	position:absolute;
	top:0;
	left:0;
}
/*differet color for different headers*/
#homeHeader{
	background-color:#CEEDFD;
}
#mediaHeader{
	background-color:#445288;
}
#aboutHeader{
	background-color:#F89999;
}
#teamHeader{
	background-color: #FAF3D2;
}

/*general text */
.text{
	font-family:"Khmer MN";
	color:#FFFFFD;
}

/*top right text that shows where you are */
#indicatorText{
	font-size:55px;
	position:absolute;
	top:-37px;
	right:20px;
}
/*general class for menu image */
#menu{
	height:6.3vh;
	/*transform:translate(10px,-39vh);*/
	position:absolute;
	top:2.1vh;
	left:1.2vw;
}
/*when hover, reduces opacity */
#menu:hover{
	opacity:0.5;
}
/*home*/
/*home page title text */
#frontPageText{
	font-size: 10em;
	text-align: center;
	position:relative;
	top:10.5vh;
	margin-bottom:6vh;

}
.rowImage{
	max-width:45vw;
	margin:auto;
}
.frontImage{
	width:11vw;
}
/*media*/
#video{
    left: 50%;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 95vw;
    height: 80vh;


}
/*our team*/

.column {
  
}
.attribute{
	position:absolute;
	bottom:0;
/*	text-align:center;*/
}
.attributeText{
	margin:auto;
	font-size:1em;
	font-family:"Khmer MN";
	color:#000000;


}
/*team images/text */
.row {
  display: flex;
  max-width: 85vw;
  margin: auto;
  transform: translate(0, 15.8vh);
  justify-content: space-between;
}
.teamImage{
	height:42.2vh;
	width:17.9vw;
	border:3px solid #000000;
}
.teamText{
	margin-bottom: 0;
	font-size:1.5em;
	font-family:"Khmer MN";
	color:#000000;
	text-align:center;
}


.description{
	/*margin: 0;*/
	font-size:1.2em;
	font-family:"Khmer MN";
	color:#000000;
	text-align:center;
	display:inline;
}
/*icons next to email and git */
.icon {
	padding: 0.2vh 0.7vw 0vh 3.4vw;
	float: left;
	height:3.4vh;
	display:inline;
}

/*about pages */
.aboutBody{
	transform:translate(0, 12vh);
	max-width:95vw;
	margin:auto;

}
.bodyImage{
	padding-right:3.6vw;
	float:left;
	height:75vh;
	width:40vw;

}

.bodyText{
	/*display:inline;*/
	font-size:2em;
	font-family:"Khmer MN";
	color:#FFFFFD;
}

/*dropbutton GENERAL*/
/*div*/
.dropDown{
	position:relative;
	display:inline-block;

}
.dropContent{
	display:none;
	position:absolute;
  	min-width: 11.9vw;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
  	transform:translate(0,10.5vh);
/*  	height:89.5vh;*/
}
/*content only shows when you drop down*/
.dropContent a{
	font-family:"Khmer MN";
	padding: 0.7vw 1.7vh;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid white;
}
.dropContent a:hover{
	opacity:0.8;
}
.show{
	display:block;
	font-size: 2em;
	border: none;
}
#homeDropDown a{
	background-color:#759FB5;
	color:#FFFFFD;
}
#aboutDropDown a{
	background-color:#C45353;
	color:#FFFFFD;
}
#mediaDropDown a{
	background-color:#15245D;
	color:#FFFFFD;
}
#teamDropDown a{
	background-color:#FCE781;
	color:#000000;
}